<html>
    <head>
        <title>Oana's blog</title>
    </head>
    <body>
        <p>Hi there!</p>
        <p>It works!</p>
	{% for post in posts %}
 	<div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaks }}</p>
    </div>
 	{% endfor %}
    </body>
</html>
 <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Oana is learning to code. Yay.</p>
            {{ posts }}
            {{ a }}

        </div> 
